{% extends "layout.html" %}
{% block content %}
<center>
    <div class="container ">
        <h1>Contact</h1>  
        <form class="row g-3">
            <div class="col-md-4"></div>
            <div class="col-md-2">
              <label for="validationDefault01" class="form-label">First name</label>
              <input type="text" class="form-control" id="validationDefault01" required>
            </div>
            <div class="col-md-2">
                <label for="validationDefault02" class="form-label">Last name</label>
                <input type="text" class="form-control" id="validationDefault02" required>
              </div>
            <div class="col-md-4"></div>

           
            <div class="col-md-4"></div>
            <div class="col-md-4">                
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
            </div>
            <div class="col-md-4"></div>


            <div class="col-md-4"></div>
            <div class=" col-md-4">
                <label class="control-label col-sm-2" for="comment">Comment:</label>
                
                  <textarea class="form-control" rows="5" id="comment" required></textarea>
            
            <div class="col-md-4"></div>
            
            <br>
            <div class="col-12">
              <button class="btn btn-primary" type="submit">Submit form</button>
            </div>
          </form>  

        
    </div>   
</center>
<br>

    

{% endblock %}